* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.bold {
    font-weight: 700;
}

.header, .footer, .section-one {
    background: #1F2937;
    color: white;
}

.section-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 14px;
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 40px;
    gap: 16px;
    max-width: 925px;
}

.hero-content {
    flex: 1;
}

.hero h1 {
    padding-bottom: 5px;
}

.hero p {
    padding-bottom: 10px;
}

.hero-image {
    content: "";
    width: 600px;
    height: 200px;
    background-color: #8a8a8a;;
    flex: 1;
    max-width: 400px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    padding: 32px;
    font-size: 30px;
    font-weight: 700;
    color: #1F2937;
}

.image-gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 64px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    max-width: 125px;
}

.img {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid #3882F6;
}

.img-text {
    font-size: 14px;
    color: #3d3d3d;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 90px;
    background: #E5E7EB;
}

.quote-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
    max-width: 700px;
}

.quote {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.author {
    font-weight: 700;
    align-self: flex-end;
}

.button {
    background: #3882F6;
    padding: 8px 32px;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3882F6;
    width: 100%;
    max-width: 800px;
    padding: 35px 50px;
    border-radius: 5px;
    color: white;
}

.sign-up-text {
    padding-right: 20px;
}

.sign-up-text h1 {
    font-size: 15px;
}

.sign-up-text p {
    font-size: 12px;
}

.sign-up-button button {
    background: #3882F6;
    border-radius: 5px;
    padding: 5px 25px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 12px;
}